WindowsFormsApplication1/Service References/JS_Service/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addition">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="i" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="j" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="additionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="additionResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="subtract">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="i" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="j" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="subtractResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="subtractResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="multiplication">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="i" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="j" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="multiplicationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="multiplicationResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="division">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="i" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="j" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="divisionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="divisionResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReturnDevice_SN_Info">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Region" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProductSN" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReturnDevice_SN_InfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReturnDevice_SN_InfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CollectDevice_MES_TPMData_New">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Reporter" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DeviceCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProblemType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Ext" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InputTime" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CollectDevice_MES_TPMData_NewResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CollectDevice_MES_TPMData_NewResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CollectDevice_MES_StartJob_New">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Reporter" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DeviceCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProductType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProductSN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OperationGroup" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Ext" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InputTime" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CollectDevice_MES_StartJob_NewResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CollectDevice_MES_StartJob_NewResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CollectDevice_MES_ControlJob_New">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Reporter" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DeviceCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProductType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProductSN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OperationGroup" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Ext" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ControlKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InputTime" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CollectDevice_MES_ControlJob_NewResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CollectDevice_MES_ControlJob_NewResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CollectDevice_MES_ProcessData_New">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Reporter" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DeviceCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProductType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProductSN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PropertyName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PropertyValue" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Ext" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InputTime" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CollectDevice_MES_ProcessData_NewResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CollectDevice_MES_ProcessData_NewResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CollectDevice_MES_EndJob_New">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Reporter" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DeviceCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProductType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProductSN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OperationGroup" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Ext" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InputTime" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CollectDevice_MES_EndJob_NewResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CollectDevice_MES_EndJob_NewResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CollectDevice_MES_Doc_New">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Reporter" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DeviceCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProductType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProductSN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DocType" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="FolderID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Content" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="Ext" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InputTime" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CollectDevice_MES_Doc_NewResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CollectDevice_MES_Doc_NewResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="additionSoapIn">
    <wsdl:part name="parameters" element="tns:addition" />
  </wsdl:message>
  <wsdl:message name="additionSoapOut">
    <wsdl:part name="parameters" element="tns:additionResponse" />
  </wsdl:message>
  <wsdl:message name="subtractSoapIn">
    <wsdl:part name="parameters" element="tns:subtract" />
  </wsdl:message>
  <wsdl:message name="subtractSoapOut">
    <wsdl:part name="parameters" element="tns:subtractResponse" />
  </wsdl:message>
  <wsdl:message name="multiplicationSoapIn">
    <wsdl:part name="parameters" element="tns:multiplication" />
  </wsdl:message>
  <wsdl:message name="multiplicationSoapOut">
    <wsdl:part name="parameters" element="tns:multiplicationResponse" />
  </wsdl:message>
  <wsdl:message name="divisionSoapIn">
    <wsdl:part name="parameters" element="tns:division" />
  </wsdl:message>
  <wsdl:message name="divisionSoapOut">
    <wsdl:part name="parameters" element="tns:divisionResponse" />
  </wsdl:message>
  <wsdl:message name="ReturnDevice_SN_InfoSoapIn">
    <wsdl:part name="parameters" element="tns:ReturnDevice_SN_Info" />
  </wsdl:message>
  <wsdl:message name="ReturnDevice_SN_InfoSoapOut">
    <wsdl:part name="parameters" element="tns:ReturnDevice_SN_InfoResponse" />
  </wsdl:message>
  <wsdl:message name="CollectDevice_MES_TPMData_NewSoapIn">
    <wsdl:part name="parameters" element="tns:CollectDevice_MES_TPMData_New" />
  </wsdl:message>
  <wsdl:message name="CollectDevice_MES_TPMData_NewSoapOut">
    <wsdl:part name="parameters" element="tns:CollectDevice_MES_TPMData_NewResponse" />
  </wsdl:message>
  <wsdl:message name="CollectDevice_MES_StartJob_NewSoapIn">
    <wsdl:part name="parameters" element="tns:CollectDevice_MES_StartJob_New" />
  </wsdl:message>
  <wsdl:message name="CollectDevice_MES_StartJob_NewSoapOut">
    <wsdl:part name="parameters" element="tns:CollectDevice_MES_StartJob_NewResponse" />
  </wsdl:message>
  <wsdl:message name="CollectDevice_MES_ControlJob_NewSoapIn">
    <wsdl:part name="parameters" element="tns:CollectDevice_MES_ControlJob_New" />
  </wsdl:message>
  <wsdl:message name="CollectDevice_MES_ControlJob_NewSoapOut">
    <wsdl:part name="parameters" element="tns:CollectDevice_MES_ControlJob_NewResponse" />
  </wsdl:message>
  <wsdl:message name="CollectDevice_MES_ProcessData_NewSoapIn">
    <wsdl:part name="parameters" element="tns:CollectDevice_MES_ProcessData_New" />
  </wsdl:message>
  <wsdl:message name="CollectDevice_MES_ProcessData_NewSoapOut">
    <wsdl:part name="parameters" element="tns:CollectDevice_MES_ProcessData_NewResponse" />
  </wsdl:message>
  <wsdl:message name="CollectDevice_MES_EndJob_NewSoapIn">
    <wsdl:part name="parameters" element="tns:CollectDevice_MES_EndJob_New" />
  </wsdl:message>
  <wsdl:message name="CollectDevice_MES_EndJob_NewSoapOut">
    <wsdl:part name="parameters" element="tns:CollectDevice_MES_EndJob_NewResponse" />
  </wsdl:message>
  <wsdl:message name="CollectDevice_MES_Doc_NewSoapIn">
    <wsdl:part name="parameters" element="tns:CollectDevice_MES_Doc_New" />
  </wsdl:message>
  <wsdl:message name="CollectDevice_MES_Doc_NewSoapOut">
    <wsdl:part name="parameters" element="tns:CollectDevice_MES_Doc_NewResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="addition">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">求和的方法</wsdl:documentation>
      <wsdl:input message="tns:additionSoapIn" />
      <wsdl:output message="tns:additionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="subtract">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">求差的方法</wsdl:documentation>
      <wsdl:input message="tns:subtractSoapIn" />
      <wsdl:output message="tns:subtractSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="multiplication">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">求积的方法</wsdl:documentation>
      <wsdl:input message="tns:multiplicationSoapIn" />
      <wsdl:output message="tns:multiplicationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="division">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">求商的方法</wsdl:documentation>
      <wsdl:input message="tns:divisionSoapIn" />
      <wsdl:output message="tns:divisionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReturnDevice_SN_Info">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">ReturnDevice_SN_Info</wsdl:documentation>
      <wsdl:input message="tns:ReturnDevice_SN_InfoSoapIn" />
      <wsdl:output message="tns:ReturnDevice_SN_InfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CollectDevice_MES_TPMData_New">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">CollectDevice_MES_TPMData_New</wsdl:documentation>
      <wsdl:input message="tns:CollectDevice_MES_TPMData_NewSoapIn" />
      <wsdl:output message="tns:CollectDevice_MES_TPMData_NewSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CollectDevice_MES_StartJob_New">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">CollectDevice_MES_StartJob_New</wsdl:documentation>
      <wsdl:input message="tns:CollectDevice_MES_StartJob_NewSoapIn" />
      <wsdl:output message="tns:CollectDevice_MES_StartJob_NewSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CollectDevice_MES_ControlJob_New">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">CollectDevice_MES_ControlJob_New</wsdl:documentation>
      <wsdl:input message="tns:CollectDevice_MES_ControlJob_NewSoapIn" />
      <wsdl:output message="tns:CollectDevice_MES_ControlJob_NewSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CollectDevice_MES_ProcessData_New">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">CollectDevice_MES_ProcessData_New</wsdl:documentation>
      <wsdl:input message="tns:CollectDevice_MES_ProcessData_NewSoapIn" />
      <wsdl:output message="tns:CollectDevice_MES_ProcessData_NewSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CollectDevice_MES_EndJob_New">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">CollectDevice_MES_EndJob_New</wsdl:documentation>
      <wsdl:input message="tns:CollectDevice_MES_EndJob_NewSoapIn" />
      <wsdl:output message="tns:CollectDevice_MES_EndJob_NewSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CollectDevice_MES_Doc_New">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">CollectDevice_MES_Doc_New</wsdl:documentation>
      <wsdl:input message="tns:CollectDevice_MES_Doc_NewSoapIn" />
      <wsdl:output message="tns:CollectDevice_MES_Doc_NewSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addition">
      <soap:operation soapAction="http://tempuri.org/addition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="subtract">
      <soap:operation soapAction="http://tempuri.org/subtract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="multiplication">
      <soap:operation soapAction="http://tempuri.org/multiplication" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="division">
      <soap:operation soapAction="http://tempuri.org/division" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnDevice_SN_Info">
      <soap:operation soapAction="http://tempuri.org/ReturnDevice_SN_Info" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CollectDevice_MES_TPMData_New">
      <soap:operation soapAction="http://tempuri.org/CollectDevice_MES_TPMData_New" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CollectDevice_MES_StartJob_New">
      <soap:operation soapAction="http://tempuri.org/CollectDevice_MES_StartJob_New" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CollectDevice_MES_ControlJob_New">
      <soap:operation soapAction="http://tempuri.org/CollectDevice_MES_ControlJob_New" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CollectDevice_MES_ProcessData_New">
      <soap:operation soapAction="http://tempuri.org/CollectDevice_MES_ProcessData_New" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CollectDevice_MES_EndJob_New">
      <soap:operation soapAction="http://tempuri.org/CollectDevice_MES_EndJob_New" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CollectDevice_MES_Doc_New">
      <soap:operation soapAction="http://tempuri.org/CollectDevice_MES_Doc_New" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addition">
      <soap12:operation soapAction="http://tempuri.org/addition" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="subtract">
      <soap12:operation soapAction="http://tempuri.org/subtract" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="multiplication">
      <soap12:operation soapAction="http://tempuri.org/multiplication" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="division">
      <soap12:operation soapAction="http://tempuri.org/division" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnDevice_SN_Info">
      <soap12:operation soapAction="http://tempuri.org/ReturnDevice_SN_Info" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CollectDevice_MES_TPMData_New">
      <soap12:operation soapAction="http://tempuri.org/CollectDevice_MES_TPMData_New" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CollectDevice_MES_StartJob_New">
      <soap12:operation soapAction="http://tempuri.org/CollectDevice_MES_StartJob_New" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CollectDevice_MES_ControlJob_New">
      <soap12:operation soapAction="http://tempuri.org/CollectDevice_MES_ControlJob_New" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CollectDevice_MES_ProcessData_New">
      <soap12:operation soapAction="http://tempuri.org/CollectDevice_MES_ProcessData_New" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CollectDevice_MES_EndJob_New">
      <soap12:operation soapAction="http://tempuri.org/CollectDevice_MES_EndJob_New" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CollectDevice_MES_Doc_New">
      <soap12:operation soapAction="http://tempuri.org/CollectDevice_MES_Doc_New" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://localhost:62667/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://localhost:62667/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>